<h3><a class="btn btn-secondary" href="/entry"><i class="fa fa-plus"></i> Create New</a> Entry List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Enter</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.date}}</td>
            <td>{{this.content}}</td>
            <td>
                <a href="/entry/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/entry/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>